
:root{
  --font: 'Roboto';
  --font_cursive: 'Satisfy';
  --round: 'Varela Round';
  --hover: hsla(79, 99%, 46%, 1);
  --back:hsla(222, 37%, 51%, 1);
  --back_light:hsla(222, 9%, 41%, 1);
  --txt:rgb(183, 183, 183);
  --white:hsla(0, 100%, 100%, 1);
}


.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--white);
}


.logo img{
 width:130px;
 cursor: pointer;
}

.nav ul {
  display: flex;
  
}


.nav ul li{
  font-size: 16px;
  margin-left: 29px;
  padding: 10px;
}

.nav ul li a{
  color: var(--white);
  cursor: pointer;
}

.search{
  color: var(--white);
  font-size: 25px;
  cursor: pointer;
  
}

.boot{
  margin-left: 15px;
}